body{
background:grey;
}

.menu{
    width: 40%;
    height: 40%;
    margin: 200px auto;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    background-image: url("/img/Imagem1.png");
}

select{
    width: 150px;
    font-size: 1.5rem;
}

p{
    font-size: 1.5rem;
}

@media screen and (max-width: 700px){
    .menu{
        width: 70%;
        height: 70%;
    }
}